extends css
###########################################################################
#                    Most of these came from TextMate                     #
###########################################################################
snippet { "properties $1{ $2 } ( } )"
$1 {
	/* $2 */
	$0

endsnippet

# vim:ft=snippets:
